body{
    background: #b9b9ff;
}
.texte{
    font-family: "Courier New";
}
.entete {
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(10%,1fr));
} 
.bas_de_page{
    width: 100%;
    padding-bottom: 20px;
    background: #b9b9ff;
}
.block {
    background: #a1a1f1;
    margin-left: 5%;
    width: 90%; 
}
.CouleurFondConteneur{ 
    background-color: #b9b9ff;
}
.recherche{
    width: 10%;
}
.image_rangement {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}
.image_rangement img {
    width: 95%;
    height: auto;
    display: block;
  }
.image_page{
    top: 40px;
    width: 25%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}
#image{
    
}