.entete {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Évite l'étirement */
    gap: 30%; /* Espacement fixe  entre les éléments */
    background-color: lightblue;
}   
.block {
    width: 95%; 
    background: #191970;
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box; /* inclut le padding dans la largeur */
}
.body{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 15px;
    background-color: lightblue;
}
.image_rangement {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}
.image_rangement img {
    width: 95%;
    height: auto;
    display: block;
  }