.entete {
    display: flex;           /* tout sur une ligne */
    align-items: center;     /* aligne verticalement */
    justify-content: space-between; /* espace entre les éléments */
    padding: 10px;
    background-color: lightblue;
}
.block {
    width: calc(50% - 20px); /* chaque bloc prend la moitiÃ© de la largeur moins le gap */
    background: #191970;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; /* inclut le padding dans la largeur */
}