body{
    background: #b9b9ff;
}

.entete {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5f5f5;   /* couleur du rectangle */
    border-radius: 20px;         /* angles arrondis */
    padding: 15px 25px;          /* espace intérieur */
    margin: 20px;
}

.entete img{
    position: absolute;
    left: 40px;
}
.entete .recherche {
    position: absolute;
    left: 1px;
}

.entete .recherche {
    left: 60px; /* espace après l’icône */
}

.entete h1 {
    margin: 0;
    color: #191970;
}

.bas_de_page{
    width: 100%;
    padding-bottom: 20px;
    background: #b9b9ff;
}
.block {
    background: #a1a1f1;
    margin-left: 5%;
    width: 90%; 
}
.CouleurFondConteneur{ 
    background-color: #b9b9ff;
}
.recherche{
    width: 10%;
}
.image_rangement {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}
.image_rangement figcaption {
    font-family: "Courier New", monospace;
    text-align: center;
}

.image_rangement img {
    width: 95%;
    height: auto;
    display: block;
  }
.ConteneurPage {
    display: flex;
    gap: 20px; /* espace entre image et vidéo */
    align-items: flex-start; /* aligne le haut des éléments */
}

.image_page {
    width: 200px; /* largeur de l'image */
    height: auto; /* garde les proportions */
}

.video_page {
    width: 560px; /* largeur de la vidéo */
    height: 400px; /* hauteur fixe */
}